.sort-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    background: $green;
    min-height: 50px;
    width: 33.33%;
    border-color: $white;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }
}
