@import url('https://fonts.googleapis.com/css?family=Raleway:500|Source+Sans+Pro"');

body,
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 24px;
}
