html {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

//Helpers

@import "./styling/helpers/_breakpoint.scss";
@import "./styling/helpers/_color.scss";
@import "./styling/helpers/_typography.scss";

//components

@import "./styling/components/_errorScreen.scss";
@import "./styling/components/_filter.scss";
@import "./styling/components/_sort.scss";
@import "./styling/components/_reviewList.scss";
@import "./styling/components/_reviewSingle.scss";
@import "./styling/components/_reviewExtraInfo.scss";
//containers

@import "./styling/containers/_reviewContainer.scss";
