@import url('https://fonts.googleapis.com/css?family=Raleway:500|Source+Sans+Pro"');
html {
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-align: center; }

#root {
  display: flex;
  width: 100%;
  justify-content: center; }

body,
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px; }

h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro", sans-serif; }

h1 {
  font-size: 24px; }

.error-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .error-screen-container__btn {
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    background: #008000;
    border-radius: 5px; }
    .error-screen-container__btn:hover, .error-screen-container__btn:active {
      font-weight: 600; }

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .filter-container__btn {
    background: #008000;
    min-height: 50px;
    width: 33.33%;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    font-size: 14px; }
    .filter-container__btn:hover {
      cursor: pointer; }

.sort-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .sort-container__btn {
    background: #008000;
    min-height: 50px;
    width: 33.33%;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    font-size: 14px; }
    .sort-container__btn:hover {
      cursor: pointer; }

.review-list-container {
  padding-top: 20px; }

.review-single-container {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5); }
  .review-single-container:hover {
    cursor: pointer; }

.review-single-summary-container {
  padding: 5px 10px 5px 10px; }

.review-single-summary-top {
  display: flex;
  justify-content: space-between; }

.review-single-comment {
  text-align: left; }

.review-extra-container {
  padding: 0px 10px 5px 10px; }
  .review-extra-container span {
    display: block; }

.review-extra-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding-bottom: 20px; }

.review-container {
  max-width: 700px;
  width: 100%; }
